
## **MBRDI Python Test**

The dataset to be used in this webinar is a CSV file named `airbnb.csv`, which contains data on airbnb listings in the state of New York. It contains the following columns:

## **Getting started**

In [ ]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import missingno as msno
import datetime as dt

In [ ]:
# Read in the dataset
airbnb = pd.read_csv('https://github.com/adelnehme/python-for-spreadsheet-users-webinar/blob/master/datasets/airbnb.csv?raw=true', index_col = 'Unnamed: 0')

In [ ]:
# Print the header of the DataFrame
airbnb.head()

   listing_id  ... listing_added
0    13740704  ...    2018-06-08
1    22005115  ...    2018-12-25
2    21667615  ...    2018-08-15
3     6425850  ...    2017-03-20
4    22986519  ...    2020-10-23

[5 rows x 16 columns]

By merely looking at the data, we can already diagnose a range of potential problems down the line such as:

<br>

_Data type problems:_

- **Problem 1**: We can see that the `coordinates` column is probably a string (`str`) - most mapping functions require a latitude input, and longitude input, so it's best to split this column into two and convert the values to `float`.
- **Problem 2**: Similar to `coordinates` - the `price` column also is a string with `$` attached to each price point, we need to convert that to `float` if we want a good understanding of the dataset. 
- **Problem 3**: We need to make sure date columns (`last_review` and `listing_added`) are in `datetime` to allow easier manipulation of data data.

<br>

_Missing data problems:_

- **Problem 4**: We can see that there are missing data in some columns, we'll get a better bird's eye view of that down the line.

<br>

_Text/categorical data problems:_


- **Problem 5**: To be able to visualize number of listings by boroughs - we need to separate neighborhoud name from borough name in `neighbourhood_full` column.
- **Problem 6**: Looking at `room_type`, let's replace those values to make them `'Shared Room'`, `'Private Home/Apartment'`, `'Private Room'` and `'Hotel Room'`.



- **Problem 7:** Looking at the maximum of the `rating` column - we see that it is out of range of `5` which is the maximum rating possible. We need to make sure we fix the range this column.

It's worth noting that `.describe()` does not offer a bird's eye view of all the out of range data we have, for example, what if we have date data in the future? Or given our dataset, `listing_added` dates that are in the future of `last_review` dates?

- **Problem 8**: There are trailing spaces and capitalization issues with `room_type`, we need to fix this problem.

## **Our to do list:**

_Data type problems:_

- **Task 1**: Split `coordinates` into 2 columns and convert them to `float`
- **Task 2**: Remove `$` from `price` and convert it to `float`
- **Task 3**: Convert `listing_added` and `last_review` to `datetime`

<br>

_Text/categorical data problems:_

- **Task 4**: We need to collapse `room_type` into correct categories
- **Task 5**: Divide `neighbourhood_full` into 2 columns and making sure they are clean

<br>

_Data range problems:_

- **Task 6**: Make sure we set the correct maximum for `rating` column out of range values

<br>

_Dealing with missing data:_

- **Task 7**: Understand the type of missingness, and deal with the missing data in most of the remaining columns. 

<br>

_Is that all though?_

- We need to investigate if we duplicates in our data
- We need to make sure that data makes sense by applying some sanity checks on our DataFrame

## **Q&A**

## **Cleaning data**

### Data type problems

In [ ]:
# Reminder of the DataFrame
airbnb.head()

   listing_id  ... listing_added
0    13740704  ...    2018-06-08
1    22005115  ...    2018-12-25
2    21667615  ...    2018-08-15
3     6425850  ...    2017-03-20
4    22986519  ...    2020-10-23

[5 rows x 16 columns]

##### **Task 1:** Replace `coordinates` with `latitude` and `longitude` columns

##### **Task 2:** Remove `$` from `price` and convert it to `float`

##### **Task 3:** Convert `listing_added` and `last_review` columns to `datetime`

##### **Task  :** Divide `neighbourhood_full` into 2 columns and making sure they are clean

##### **Task 6:** Make sure we set the correct maximum for `rating` column out of range values

## **Q&A**

### Dealing with missing data

##### **Task 9:** Let's deal with duplicate data